body {
	background: url('../images/loginBg.jpg');
	background-position: center;
	background-size: cover;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}